<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ludus.healer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashLudusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PacienteActivity"
            android:label="@string/title_activity_paciente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TratamentoActivity"
            android:label="@string/title_activity_tratamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MedicamentoActivity"
            android:label="@string/title_activity_medicamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DailyActivity"
            android:label="@string/title_activity_daily"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResponsavelActivity"
            android:label="@string/title_activity_responsavel"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>